<div class="content">
  <mat-nav-list>
    <mat-list-item [ngStyle]="{backgroundColor: group.value}">

      <mat-button-toggle-group #group="matButtonToggleGroup" value={{Priority.low}}>
        <mat-button-toggle value={{priority}} *ngFor="let priority of Priority.values()">
          <mat-icon [ngStyle]="{color: priority}">fiber_manual_record</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field>
        <input #titleInput matInput (keyup.enter)="onAddItem()">
      </mat-form-field>

      <button #addBtn mat-icon-button (click)="onAddItem()">
        <mat-icon id="add-button">add</mat-icon>
      </button>

    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list dnd-sortable-container [sortableData]="itemsList" on-mouseleave="hoveredIndex=null">
    <mat-list-item
      *ngFor="let item of itemsList; let i = index"
      dnd-sortable
      (onDropSuccess)="onDrop()"
      [sortableIndex]="i"
      on-mouseover="hoveredIndex=i"
      [ngStyle]="{backgroundColor: item.priority.valueOf()}"
      [@listState]>
      <a matLine>{{item.title}}</a>
      <button *ngIf="i === hoveredIndex" mat-icon-button (click)="onDeleteItem(item)">
        <mat-icon id="delete-button">delete_outline</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
