#delete-button {
  color: white;
}

#add-button {
  color: white;
  flex: initial;
}

.mat-line {
  color: white;
  text-shadow: 0 0 4px black;
}

mat-list-item {
  margin: 0 0 1px 0;
}

.full-width {
  width: 100%;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0;
}

.content {
  margin: 20px 0 0 0;
}

.mat-form-field {
  margin: 0 16px;
  flex: 1;
  color: white;
}

mat-button-toggle-group {
  flex: initial;
}
